* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  text-align: center;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin-bottom: 10px;
}

header ul li a {
  text-decoration: none;
  color: blue;
  padding: 10px;
}

header ul li a:hover {
  background-color: lightblue;
}

.foto {
  height: 1300px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
  background-size: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  width: calc(100% / 3);
  position: relative;
}

.card-container .card img {
  max-width: 100%;
}

.card-container .card .overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container .card:hover .overlay {
  display: block;
}

.card-container .card:hover img {
  opacity: 0.2;
}

.prodotti img {
  max-width: 100%;
  display: flex;
}

