* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  color: blue;
  padding: 10px;
}

header ul li a:hover {
  background-color: lightblue;
}

.foto {
  height: 1300px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
  background-size: cover;
}

