header{
  text-align: center;
    ul{
      list-style: none;
      li{
        display: inline-block;
        margin-bottom: $mr10;
        a{
          text-decoration: none;
          color: $colorTextNav;
          padding: $pd10;
          &:hover{
           background-color: $colorNav;
          }
        }

      }
    }
}
