.foto{
  height: 1300px;
  background-image: url('../../img/molisana-home.jpg');
  background-size: cover;
}


.card-container{
  display: flex;
  flex-wrap: wrap;

  .card{
    width: calc(100% / 3);
    position: relative;

      img{
        max-width: 100%;
      }

    .overlay{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    &:hover .overlay{
      display: block;
    }
    &:hover img{
      opacity: 0.2;
    }
  }
}
.prodotti img{
  max-width: 100%;
  display: flex;
}
